.footer-div {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 200px;
  min-width: 100vw;

  background-color: rgb(236, 227, 235);
}

.footer-text {
  width: fit-content;
}

.footer-link {
  color: black;
}

.footer-link:hover {
  font-weight: 600;
}